$--color-white: #fff;
$--color-black: #1A1A1A;
$--color-page-bg: #FAFAFF;
$--color-primary: #6D37FF;
$--color-secondary: #FF7842;
$--color-light: #CECCE5;
$--color-gray: #7c7c7c;

$--font-primary: 'Poppins';
$--font-secondary: 'Heebo';
$--font-panchang: 'Panchang';

$--transition-speed: .3s;