$--animation-duration: .7s;

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      animation-delay: 0ms !important;
  }
}

[data-animation] {
  opacity: 0;

  &[data-animation-active] {
    opacity: 1;
  }

  &[data-animation="appear-left"] {
    &[data-animation-active] {
      animation: appear-left $--animation-duration linear;
    }
  }

  &[data-animation="appear-right"] {
    &[data-animation-active] {
      animation: appear-right $--animation-duration linear;
    }
  }

  &[data-animation="appear-top"] {
    &[data-animation-active] {
      animation: appear-top $--animation-duration linear;
    }
  }

  &[data-animation="appear-bottom"] {
    &[data-animation-active] {
      animation: appear-bottom $--animation-duration linear;
    }
  }
}

@keyframes appear-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-top {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}