@import '../assets/variables';

.btn {
  padding: 20px;
  background-color: $--color-primary;
  font: 500 14px/1.5 $--font-panchang;
  color: $--color-white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1023.98px) {
  .btn {
    font-size: 18px;
    transition: background $--transition-speed, color $--transition-speed;

    &:hover {
      background-color: transparent;
      color: $--color-primary;
    }
  }
}
