@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
legend,
fieldset,
hr,
figure,
body {
  margin: 0;
  padding: 0;
  border: none;
}

ol,
ul {
  list-style: none;
}

input {
  font: inherit;
  padding: 0;
}

button,
a {
  background: none;
  border: none;
  color: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}

a,
pre,
button {
  font: inherit;
}

:focus {
  outline: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

[hidden] {
  display: none;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Panchang";
  src: url("../fonts/Panchang-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Panchang";
  src: url("../fonts/Panchang-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
.container {
  max-width: 420px;
  padding: 0 20px;
  margin: 0 auto;
}

.text-ls {
  letter-spacing: 0.01em;
}

.title-lg {
  font: 600 28px/1.5 "Panchang";
}

.sect {
  scroll-margin-top: 20px;
  margin: 90px 0;
}
.sect__title {
  font: 600 22px "Panchang";
  margin-bottom: 30px;
}
.sect--columns__inner-title {
  color: #6D37FF;
  font-weight: 400;
  margin-bottom: 15px;
}

.small-arrow {
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 15px;
  position: relative;
}
.small-arrow::before, .small-arrow::after {
  content: "";
  position: absolute;
}
.small-arrow::before {
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  transform: translateY(-50%);
  background-color: currentColor;
}
.small-arrow::after {
  width: 5px;
  height: 5px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  top: 50%;
  right: 2px;
  transform: rotate(45deg) translateY(-70%);
}

@media screen and (min-width: 767.98px) {
  .container {
    max-width: 760px;
  }

  .title-lg {
    font-size: 75px;
  }

  .sect {
    margin: 110px 0;
  }
  .sect__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .sect--columns__inner {
    display: flex;
  }
  .sect--columns__inner-title {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .sect--columns__inner-content {
    max-width: 540px;
    width: 100%;
    margin-left: auto;
  }
}
@media screen and (min-width: 1023.98px) {
  .container {
    max-width: 1000px;
  }

  .title-lg {
    font-size: 100px;
  }

  .sect {
    margin: 130px 0;
  }
  .sect--columns__inner-content {
    max-width: 735px;
  }

  /*
    структура элемента 

    <div class="frame-hover">
      <span class="frame-hover__top"></span>
      <span class="frame-hover__bottom"></span>
    </div>
  */
  .frame-hover {
    position: relative;
  }
  .frame-hover:hover .frame-hover__top,
.frame-hover:hover .frame-hover__bottom {
    opacity: 1;
  }
  .frame-hover__top, .frame-hover__bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  .frame-hover__top::before, .frame-hover__top::after, .frame-hover__bottom::before, .frame-hover__bottom::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 5px solid #6D37FF;
  }
  .frame-hover__top::before, .frame-hover__top::after {
    top: 0;
    border-bottom: none;
  }
  .frame-hover__bottom::before, .frame-hover__bottom::after {
    bottom: 0;
    border-top: none;
  }
  .frame-hover__top::before {
    left: 0;
    border-right: none;
  }
  .frame-hover__top::after {
    right: 0;
    border-left: none;
  }
  .frame-hover__bottom::before {
    left: 0;
    border-right: none;
  }
  .frame-hover__bottom::after {
    right: 0;
    border-left: none;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    max-width: 1240px;
  }

  .title-lg {
    font-size: 120px;
  }

  .sect {
    margin: 160px 0;
  }
  .sect__title {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .sect--columns__inner-content {
    max-width: 895px;
  }

  .frame-hover--big .frame-hover__top::before, .frame-hover--big .frame-hover__top::after,
.frame-hover--big .frame-hover__bottom::before,
.frame-hover--big .frame-hover__bottom::after {
    width: 30px;
    height: 30px;
    border-width: 7px;
  }
}
.btn {
  padding: 20px;
  background-color: #6D37FF;
  font: 500 14px/1.5 "Panchang";
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1023.98px) {
  .btn {
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
  }
  .btn:hover {
    background-color: transparent;
    color: #6D37FF;
  }
}
[animation] {
  opacity: 0;
}
[animation][animation-active] {
  opacity: 1;
}
[animation][animation=appear-left][animation-active] {
  animation: appear-left 0.7s linear;
}
[animation][animation=appear-right][animation-active] {
  animation: appear-right 0.7s linear;
}
[animation][animation=appear-top][animation-active] {
  animation: appear-top 0.7s linear;
}
[animation][animation=appear-bottom][animation-active] {
  animation: appear-bottom 0.7s linear;
}

@keyframes appear-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-top {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.contacts__sect {
  padding: 30px 0;
  border-top: 1px solid #CECCE5;
}
.contacts__sect-title {
  margin-bottom: 15px;
  font-size: inherit;
}
.contacts__link {
  color: #6D37FF;
  font-weight: 500;
  font-size: 20px;
}
.contacts .socials {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 20px;
}
.contacts .socials__item {
  margin-bottom: 5px;
}
.contacts .socials__item:last-child {
  margin-bottom: 0;
}
.contacts .contact-form input::placeholder,
.contacts .contact-form textarea::placeholder {
  color: #7C7C7C;
  font: 400 16px/1.5 "Poppins";
}
.contacts .contact-form .field {
  width: 100%;
  padding: 14px 10px;
  background-color: #fff;
  border: 1px solid #CECCE5;
}
.contacts .contact-form .field:not(.field--msg) {
  margin-bottom: 30px;
}
.contacts .contact-form .field--msg {
  resize: none;
  height: 150px;
}
.contacts .contact-form .file {
  display: block;
  position: relative;
  margin: 15px 0 0 auto;
}
.contacts .contact-form .file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.contacts .contact-form .file__field {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts .contact-form .file__field::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 22px;
  margin-right: 10px;
  background: url("../img/icons/paper-clip.svg") no-repeat center/contain;
}
.contacts .contact-form__bottom {
  margin-top: 30px;
}
.contacts .contact-form__warning {
  margin-bottom: 20px;
}
.contacts .contact-form__send {
  width: 100%;
}

@media screen and (min-width: 767.98px) {
  .contacts__sect {
    display: flex;
  }
  .contacts__sect-content {
    max-width: 550px;
    width: 100%;
    margin-left: auto;
  }
  .contacts .contact-form {
    display: flex;
    flex-flow: wrap;
    position: relative;
  }
  .contacts .contact-form::after, .contacts .contact-form::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    filter: blur(55px);
    opacity: 0.8;
    z-index: -1;
  }
  .contacts .contact-form::before {
    background-color: #FF7842;
    left: -120px;
    top: 20%;
  }
  .contacts .contact-form::after {
    background-color: #6D37FF;
    left: -100px;
    top: 35%;
  }
  .contacts .contact-form .field:not(.field--msg) {
    width: calc(50% - 10px);
  }
  .contacts .contact-form .field--fname, .contacts .contact-form .field--email {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1023.98px) {
  .contacts__sect {
    padding: 40px 0;
  }
  .contacts__sect-content {
    max-width: 735px;
  }
  .contacts .contact-form::before, .contacts .contact-form::after {
    width: 270px;
    height: 270px;
    left: -200px;
    filter: blur(75px);
    opacity: 0.7;
  }
  .contacts .contact-form::before {
    top: 10%;
  }
  .contacts .contact-form::after {
    top: 45%;
  }
  .contacts .contact-form input::placeholder,
.contacts .contact-form textarea::placeholder {
    font-size: 18px;
  }
  .contacts .contact-form .field {
    padding: 14px 20px;
  }
  .contacts .contact-form__warning {
    max-width: 395px;
    margin-bottom: 0;
  }
  .contacts .contact-form__send {
    max-width: 195px;
    margin-left: auto;
  }
  .contacts .contact-form__bottom {
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 1279.98px) {
  .contacts__sect-content {
    max-width: 895px;
  }
}
body {
  background-color: #FAFAFF;
  font-family: "Poppins";
  line-height: 1.5;
  color: #1A1A1A;
}
body.no-scroll {
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.body-noise {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.noise__rect {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hdr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 1s, background 1s;
  z-index: 10;
}
.hdr__noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.hdr.on-scroll {
  background: rgba(250, 250, 255, 0.95);
}
.hdr.on-scroll .hdr__noise {
  opacity: 1;
}
.hdr.scroll-down {
  transform: translateY(-100%);
}
.hdr__inner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #CECCE5;
}
.hdr__logo {
  width: 140px;
  height: 25px;
  margin-right: auto;
}
.hdr__menu {
  position: fixed;
  background: #FAFAFF;
  left: -100vw;
  width: 100vw;
  height: 100%;
  padding: 40px 20px;
  opacity: 0;
  visibility: hidden;
  transition: left 0.25s, opacity 0.25s, visibility 0.25s;
}
.hdr__menu::after, .hdr__menu::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  filter: blur(55px);
  opacity: 0.5;
  z-index: -1;
}
.hdr__menu::before {
  background-color: #FF7842;
  right: -20px;
  top: 60px;
}
.hdr__menu::after {
  background-color: #6D37FF;
  right: 45px;
  top: 80px;
}
.hdr__menu.open {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.hdr__menu-noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hdr .nav {
  margin-bottom: 100px;
  font: 600 26px/1.5 "Panchang";
}
.hdr .nav__item {
  margin-bottom: 20px;
}
.hdr .nav__item:last-child {
  margin-bottom: 0;
}
.hdr__contacts {
  display: flex;
  flex-flow: column;
}
.hdr__contacts-link {
  font-size: 20px;
  color: #6D37FF;
}
.hdr__contacts-link:first-child {
  margin-bottom: 15px;
}

.burger {
  width: 22px;
  height: 18px;
  background: url("../img/icons/burger.svg") no-repeat center/contain;
}
.burger.open {
  background-image: url("../img/icons/close.svg");
}

.ftr__inner {
  padding: 20px 0 30px;
  display: flex;
  flex-flow: column;
  border-top: 1px solid #CECCE5;
}
.ftr__rights {
  order: 2;
}
.ftr__contacts {
  order: 1;
  margin-bottom: 40px;
}
.ftr__contacts-item {
  display: inline-block;
  margin-bottom: 15px;
  padding-left: 34px;
  position: relative;
}
.ftr__contacts-item:last-child {
  margin-bottom: 0;
}
.ftr__contacts-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ftr__contacts-item--email::before {
  background-image: url("../img/icons/email.svg");
}
.ftr__contacts-item--address::before {
  background-image: url("../img/icons/map-marker.svg");
}

@media screen and (min-width: 767.98px) {
  .hdr__logo {
    width: 170px;
    height: 30px;
  }
  .hdr__menu {
    width: auto;
    padding: 0;
    position: relative;
    opacity: 1;
    visibility: visible;
    top: initial;
    left: initial;
    background-color: transparent;
  }
  .hdr__menu::before, .hdr__menu::after {
    content: none;
  }
  .hdr__menu-noise {
    display: none;
  }
  .hdr .nav {
    font: 400 16px "Poppins";
    margin-bottom: 0;
  }
  .hdr .nav__list {
    display: flex;
  }
  .hdr .nav__item {
    margin: 0 40px 0 0;
  }
  .hdr .nav__item:last-child {
    margin-right: 0;
  }
  .hdr__contacts {
    display: none;
  }

  .burger {
    display: none;
  }

  .ftr__inner {
    padding: 30px 0;
    flex-flow: row;
  }
  .ftr__rights {
    order: 1;
  }
  .ftr__contacts {
    order: 2;
    max-width: 270px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1023.98px) {
  body {
    font-size: 18px;
  }

  .hdr__inner {
    padding: 24px 0;
  }
  .hdr .nav__item {
    margin-right: 50px;
  }
  .hdr .nav__link {
    transition: color 0.3s;
  }
  .hdr .nav__link:hover {
    color: #6D37FF;
  }

  .ftr__contacts {
    max-width: 550px;
    display: flex;
  }
  .ftr__contacts-item {
    margin: 0 auto 0 0;
  }
  .ftr__contacts-item:last-child {
    margin-right: 0;
  }
  .ftr__contacts-item--address {
    max-width: 290px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1279.98px) {
  .hdr__inner {
    padding: 40px 0 30px;
  }
  .hdr__logo {
    width: 2000px;
    height: 35px;
  }

  .ftr__inner {
    padding: 30px 0 90px;
  }
}